


:root{

   --bg-black-900:#000000;
   --bg-black-100:#dddddd;
   --bg-black-50: #eff0f4;

   --text-black-900:#000000;
   --text-black-700:#555555;
   --text-black-600:#666666;
   --text-black-300:#bbbbbb;
   --outer-shadow:-3px -3px 2px rgba(255, 255, 255, 0.3),
   5px 5px 5px rgba(0, 0, 0, 0.2),
   15px 15px 15px rgba(0, 0, 0, 0.2);
   --outer-shadow-0:0 0 0 #d0d0d0 ,0 0 0 #f8f8f8;
   --inner-shadow: inset 3px 3px 9px 3px rgba(0, 0, 0, 0.2);
   --inner-shadow-0:inset 0 0 0 #d0d0d0 , inset 0 0 0 #f8f8f8;
   
    --skin-color:#fb838e;
}
  *:not(i){
    font-family: 'Poppins', sans-serif;
      font-weight: 400;
  }
  
  
  
  body{
    font-size: 16px;
    line-height: 1.5;
    /* overflow: hidden;  */
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-black-50);
    /* overflow-y: hidden; */
}
body.stop-scrolling{
    overflow-y: hidden;
}



*{
    margin: 0;padding: 0; box-sizing: border-box; outline: none;

}

:before,:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: 337px;
}
.container{
    max-width: 1140px;
    /* background-color: red; */
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow{
box-shadow: var(--outer-shadow);
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{

    box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow) ;
}
.align-item-center{
    align-items: center;
}
.btn-1{
 padding: 10px 25px;
 font-size: 16px;
 color: var(--skin-color);
 background-color: transparent;
 line-height: 1.5;
 font-weight: 500;
 display: inline-block;
 border-radius: 30px;
 transition: all 0.3s ease;
 border: none;
}
.btn-1:after{
    border-radius: 30px;
}

.effect-wrap .effect{
    position: absolute;
    z-index: 1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 25%;
    animation: spin 10s linear infinite
}

.effect-2{
    left: 3%;
    bottom: 27%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;

}
.effect-2 div{
  height: 3px;
  width: 3px;
  background: #ff9c07;
  margin: 0 3px 8px ;
}
.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftbounce 3s ease-in-out infinite;
}

.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-5{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
     justify-content: space-between;
     border-radius: 50%;
     overflow:hidden;
     animation: spin 10s ease-in-out infinite;
}
.effect-5 div{
  width: 4px;
  background-color: #4dd0e1;
  height: 100%;

}

.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;

}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}

@keyframes leftbounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}


.section-title{
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;

}
.section-title h2{
    /* background-color: blue; */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
   color: var(--text-black-900);
   text-transform: uppercase;
   margin: 0;
   
   

}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);

}
.section.hide{
    /* display: none; */
}





















.header{
    /* background-color: grey; */
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;
    /* background-color: red;   */
}

.header .logo a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 36px;
    color: var(--skin-color); 
    font-size: 24px;
    justify-content: center ;
    border-radius: 50%;
    padding-left: 10px;
    text-transform: uppercase;
    border: 2px solid var(--skin-color);   
    font-family: 600;  
    animation: logorotate 3s  linear infinite; 
                               

}
@keyframes logorotate{
   0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
/* @keyframes fadeintop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} */

.header .burger{
    height: 40px;
    width: 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: 0.3s;
    /* margin-left: 1058px; */
    /* box-shadow: 0 0 10px;    */
    /* border: 1px solid var(--outer-shadow-o); */
  
}
.header .burger:after{
    border-radius: 50%;
}

.header .burger span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black-900);
position: relative;
}
.header .burger span:before,
.header .burger span:after{
content: "";
position: absolute;
left: 0;
width: 100%;
height: 100%;
background-color: var(--bg-black-900);

}
.header .burger span:before{
    top: -6px;
}
.header .burger span:after{
    top: 6px;
}



.nav-menu{
    position: fixed;
     background-color: var(--bg-black-50);
     padding: 0 15px;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 0;
visibility: hidden;
     overflow-y: auto;
}
.fade-out-effect{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-50);
    z-index: -1;
    visibility: hidden;
}
.fade-out-effect.active{
    visibility: visible;
    z-index: 1000;
    animation: fadeout .3s ease-out;
}
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.nav-menu.open{
    visibility: visible;
    z-index: 999;
    opacity: 1;
    transition: all .3s ease-in;

}
.nav-menu .close-nav-menu:after{
    border-radius: 50% ;
   
}

.nav-menu-inner
{
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-menu ul{
    /* background-color: violet ;  */
    padding: 15px;
}
.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
     text-align: center;
     transition: all 0.3s ease;
     
     color: var(--text-black-600);

}
.nav-menu ul li{
   display: block;
   margin-bottom: 20px;
   text-align: center;

} 

.nav-menu ul li:last-child{
   margin-bottom: 0;
}

.nav-menu ul li a{
     display: inline-block;
     font-size: 28px;
     font-weight: 600;
     color: var(--text-black-700);
     padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a.active{
    color: var(--skin-color);
}
.nav-menu ul li a:after{
border-radius: 30px;
}

.nav-menu .copyright-text{
    position: absolute;
 
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%)rotate(-90deg);
    left: -50px;
}

/* ------------------------------ home section --------------------- */
.home-section {
    position: relative;
}
.home-section .full-screen{
    /* background-color: blue; */
    padding: 200px 50px;
    min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
flex: 0 0 50%;
max-width: 50%;
padding: 0 15px;
}

.home-section .home-text p{
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    
}

.home-section .home-text h2{
    font-size: 55px;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    color: var(--bg-black-900);
    margin: 0;
    text-transform: capitalize;
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
            drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))                   
            drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));  

}
.home-section .home-text h1{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-black-700);
    margin: 0;
    text-transform: capitalize;
    


}


.home-section .home-text{
/* background-color: violet; */
}

.home-section .home-img .img-box{
/* background-color: red; */
max-width: 384px;

display: block;

/* width: 80%; */
border-radius: 60%;
padding: 15px;


}
.home-section .home-text .btn-1{
     margin-top: 30px;
}

.home-section .home-img .img-box img{
width: 100%;
border-radius: 50%;
border: 0px solid transparent;
height: 360px;

}

/* ------------------------------------about me ------------------- */

.about-section{
    /* background-color: red; */
    padding: 80px 0 0;
    min-height: 100vh;

}
.about-section .about-img{
    /* background-color: blue; */
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0px 90px;
}
.about-section .about-info{
    /* background-color: red; */
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}
.about-img-padding{
     margin-left: 27px;
    
     margin-bottom: 10px;
    margin-top: 10px; 
}
.about-section .about-img .img-box{
   border-radius: 5%;

}
.about-section .about-img img{
    border-radius: 5%;
    margin-left: 23px;
    height: 300px;
    width: 230px;
}
.about-section .about-img .social-links{
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
    padding: 2px 22px;

}
.about-section .about-img .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    
    color: var(--text-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all .3s ease;
}
.about-section .about-img .social-links a i{
    line-height: 40px;
}
.about-section .about-img .social-links a:after{
    border-radius: 50%;
}
.about-section .about-img .social-links a:hover{
    color: var(--skin-color);
}

.about-section .about-info p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}
.about-section .about-info span{
    font-weight: 600;
}

.about-section .about-info a{
    margin: 30px 20px 0 0;
    
   
}

.about-section .about-tabs{
    /* background-color: red; */
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

}
.about-section .about-tabs .tab-items{
   display: inline-block;
   margin: 0 5px 10px;
   /* border: 1px solid red; */
   padding: 5px 10px;
   border-radius: 30px;
   font-size: 16px;
   transition: all .3s ease;
   cursor: pointer;
   color: var(--text-black-600);
   text-transform: capitalize;
   font-family: 500;
}
.about-section .about-tabs .tab-items:hover:not(.active){
    opacity: 0.6;
}
.about-section .about-tabs .tab-items.active{
    color: var(--skin-color);
}
.about-section .tab-content{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    /* display: none; */
     
}
.about-section .tab-content.active{
     display: block;
    /* animation: fadeintop 0.5s ease;  */
}
.about-section .skills{
    padding: 0 0 40px;
}
.about-section .skills .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;

}
.about-section .skills .skill-item p{
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0 0 10px;

}

.about-section .skills .skill-item .progress{
    height: 20px;
    border-radius: 10px;
    position: relative;
}

.about-section .skills .skill-item .progress-bar{
    background-color: var(--text-black-600);
    height: 6px;
    left: 7px;
    top: 7px;
    position: absolute;
}
.about-section .skills .skill-item .progress-bar span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    margin-top: -40px;
}

.about-section .education{
    
}

.about-section .experience{
    padding-bottom:  80px;

}
.about-section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;

}
.about-section .timeline:before{
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: var(--bg-black-100);
    left: 50%;
    top: 0;
}
.about-section .timeline .timeline-item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;

}
.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner{
    padding: 30px ;
    border-radius: 5px;

}
.about-section .timeline .timeline-item-inner:before{
    content: '';
    background-color: var(--bg-black-100);
    height: 1px;
    width: 30px;
    position: absolute;
    /* top: 37px; */
    margin-top: 40px;
    margin-left: 70px;
    margin: 36px 620px;
    z-index: -1;
}
.about-section  .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
   right: -30px;
}
.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
    left: -30px;
 }

.about-section .timeline .timeline-item-inner .icon{
    height: 40px;
    width: 40px;
    background-color:var(--bg-black-50);
    text-align: center;
    line-height: 40px;
    top: 18px;
    left: 100px;
    position: relative;
    border: 1px solid var(--bg-black-100 );
    border-radius: 50%;
    font-size: 16px;
    color: var(--skin-color);

}
.about-section .timeline .timeline-item-inner .second{
    top: 16px;
    left: -100px;
}


.about-section .timeline .timeline-item-inner span{
    font-weight: 500;
    color: var(--skin-color);
    display: block;
    margin: 0 0 10px;


}
.about-section .timeline .timeline-item-inner h3{
    font-size:20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 5px;
    text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h4{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-black-600);
    font-style: italic;
}
.about-section .timeline .timeline-item-inner p{
    font-size: 16px;
    line-height: 26px;
    margin: 15px;
    color: var(--text-black-600);

}

/* --------------------------------------------------------------------------------- */

.service-section{
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;

}
.service-section .service-items{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;                           
}
.service-section .service-item-inner{
    padding: 50px 15px;
    text-align: center;
    /* text-transform: capitalize; */
    
}  
.service-items .service-item-inner .icon{
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius:50% ;
    margin: 0 auto 30px;
    display: block;
    transition: all .3s ease;
    position: relative;
}
.service-items .service-item-inner .icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
}
.service-items .service-item-inner:hover .icon{
    box-shadow: var(--outer-shadow);
}

.service-items .service-item-inner:hover .icon i{
    color: var(--skin-color);
}
.service-items .service-item-inner .icon i{
    font-size: 25px;
    line-height: 60px;

}
.service-items .service-item-inner h3{
    font-size: 20px;
    font-weight: 600;
    /* color: var(--skin-color); */
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 0 0 10px;
}
.service-items .service-item-inner p{
    font-size: 16px;
    font-weight: 500;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 0;
}



/* ________________________________________________________________________________________________ */
/* ----------------------------project-------------------------- */

.portfolio-section{
    /* background-color: red; */
    padding: 80px 0 80px;
    height: 100vh;
}
.portfolio-section .section-title{
    margin-bottom: 40px;
}
.portfolio-section .portfolio-filter{
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    min-width: 100%;
    text-align: center;
    margin-bottom: 20px;

}
.portfolio-section .filter-item{
    /* border: 1px solid red; */
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-family: 16px;
    transition: all .3s ease;

}
.portfolio-section .filter-item:hover:not(.active){
    opacity: 0.6;
    
}
.portfolio-section .filter-item.active{
    color: var(--skin-color);

}
.portfolio-section .portfolio-item{
    flex:0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    flex-wrap: wrap;


}

.portfolio-section .portfolio-item.hide{
    display: none;
}
.portfolio-section .portfolio-item.show{
    animation:  fadeintop 0.5s ease;
    display: block;
}
.portfolio-section .portfolio-item-inner{
    padding: 15px ;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.portfolio-section .portfolio-item-img img{
    border-radius: 5px;
    width: 100%;
    height: 200px;

    /* padding: 15px; */
    
   
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{
   /* box-shadow: var(--outer-shadow); */
   /* border: 1px solid black; */
   /* background:white; */
   transform: scale(1.09);
   /* font-size: 99px; */
   
  
}
.portfolio-section .portfolio-item-img{
    position: relative;
}
.portfolio-section .portfolio-item-img .view-project{
    font-size: 16px;
    color: var(--skin-color);
    font-weight: 500;
    text-transform: capitalize;
    align-items: center;
    position: absolute;
    left:223px;
    bottom: -45px;
    transform: translateY(-9px);
    z-index: -1 ;
    opacity: 0;
}
.portfolio-section .portfolio-item-inner:hover .view-project{
         transform: translateY(0px);
         opacity: 1;
        
}
.portfolio-section .portfolio-item-details{
  display: none ;
}
.portfolio-section .portfolio-item-inner p{
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

/* portfolio popup------------------ */

.portfolio-popup{
    background-color: var(--bg-black-50);
    height: 100%;
    width: 100%;
   z-index: 1000;
    /* position: fixed; */
    top: 0;
    left: 0;
   overflow-y: scroll;
   /* opacity: 0; */                                       
   /* visibility: hidden; */

}
.portfolio-popup.open{
    visibility: visible ;
    opacity: 1;
}
.portfolio-popup .pp-details{
    /* background-color: red; */
    max-width: 1350px;
    margin: auto;
    width: calc(85% + 30px);
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.portfolio-popup .pp-details-inner{
    /* background-color: blue; */
    padding: 30px 0;
}
.portfolio-popup .pp-title{
    padding: 0 15px;
}
.portfolio-popup .pp-title h2{
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 0 0 5px;
}
.portfolio-popup .pp-title p{
  font-size: 14px;
  margin: 0 0 15px;
  color: var(--text-black-600);
  font-weight: 600;
  border-bottom: 1px solid var(--bg-black-100);
}
.portfolio-popup .pp-title p span{
    font-weight: 400;
}
.portfolio-popup .pp-project-details h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 15px;
    text-transform: capitalize;
}
.portfolio-popup .description{
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;

}
.portfolio-popup .description p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}
.portfolio-popup .info{
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px;
}

.portfolio-popup .info ul li{
    display: block ;
    margin-bottom:10px ;
    font-weight: 600;
    color: var(--text-black-600);
    font-size: 16px;

}
.portfolio-popup .info ul li span{
    font-weight: 400;
}
.portfolio-popup .info ul li:last-child{
    margin-bottom: 0;
}
.portfolio-popup .seperator{
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}
.portfolio-popup .pp-img{
    max-width: 100%;
    /* max-height:200px ; */
      height: auto;
      width: auto;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
}
.portfolio-popup .pp-main{
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.portfolio-popup .pp-main-inner{
    /* background-color: grey; */
    padding: 70px 0 50px;
    position: relative;
}

.portfolio-popup .pp-project-detail-btn{
position: absolute;
left: 0;
color: var(--skin-color);
font-size: 16px;
padding: 0 15px;
cursor: pointer;
font-weight: 500;
top: 15px;
height: 40px;
line-height: 40px;
border-radius: 30px;
}
.portfolio-popup .pp-project-detail-btn::after{
    border-radius: 30px;
}
.portfolio-popup .pp-project-detail-btn i{
    margin: 4px;
   
}
.portfolio-popup .pp-close{
  right: 0;
  /* background-color: blue; */
  position: absolute;
  height: 40px;
  width: 40px;
  top: 15px; 
  color: var(--text-black-700);
font-size: 32px;
cursor: pointer;
text-align: center;
padding: 0 15px;

border-radius: 30px;
text-align: center;

font-weight: 500;
top: 15px;
}
.portfolio-popup .pp-close:after{
    border-radius: 30px;
}

.portfolio-popup .pp-counter{
  right: 0;
  bottom: 5px;
  height: 40px;
  line-height: 40px;
  position: absolute;
}
.portfolio-popup .pp-prev,.portfolio-popup .pp-next{
   position: fixed;
   top: 50%;
   height: 40px;
   width: 40px;
   /* background-color: red; */
   text-align: center;
   font-size: 20px;
   transition: all .3s ease;
   border-radius: 30px;
   opacity: 1;

}
.portfolio-popup .pp-prev:hover{
    opacity: 0.5;
}
.portfolio-popup .pp-next:hover{
    opacity: 0.5;
}

.portfolio-popup .pp-prev:after{
    border-radius: 30px;
    
}
.portfolio-popup .pp-next:after{
    border-radius: 30px;
    color: var(--text-black-600);
}
.portfolio-popup .pp-prev i,.portfolio-popup .pp-next i{
    line-height: 40px;
    
}
.portfolio-popup .pp-prev i{
    transform: rotate(180deg);
    color: var(--text-black-900);
}

.portfolio-popup .pp-prev{
    left: 15px;
}
.portfolio-popup .pp-next{
    right: 15px;
}

.testimonial-section {
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}
.testimonial-section .testi-box{
    /* background-color: red; */
    width: 100%;
    max-width: 800px;
    margin: auto;

}
.testimonial-section .testi-slider{
    border-radius: 5px;

}

.testimonial-section .testi-item .stars{
    margin: -5px 0px;
    padding: 13px 0px;
    
}
.testimonial-section .testi-item{
    padding: 3px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
}

.testimonial-section .icon{
    padding: 0px 289px;
}
.testimonial-section .icon i{
   
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
}
.testimonial-section img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
}
.testimonial-section .testi-slider-nav span{
    
    height: 57px;
    width: 54px;
    
    display: inline-block;
    font-size: 25px;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    color: var(--skin-color);
}
.testimonial-section .testi-slider-nav{
    padding: 30px 543px;
    
}
.testimonial-section .testi-slider-nav span:after{
    border-radius: 50%;
}

/* __________________________________________________________________________________________________ */

.contact-section{
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
    
}
.contact-section .contact-item{
    flex: 0 0 33.33%;
    width: 0 0 33.33%;
    padding: 15px;
    display: flex;
    
}
.contact-section .contact-item-inner{
    padding: 30px 15px;
    text-align: center;
    width: 100%;

}
.contact-section .contact-item-inner i{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-section .contact-item-inner span{
    display: block;
    color: var(--text-black-700);
    font-size: 16px;
    margin: 10px 0 5px ;

}
.contact-section .contact-item-inner p{
    font-size: 14px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}
.contact-section .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
.contact-section .w-50{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-section .input-group{
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;
}
.contact-section .input-group:after{
    border-radius: 30px;
}
.contact-section .input-group .input-control{
    height: 35px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    color: var(--text-black-700);
    display: block;
}
.contact-section .input-group textarea.input-control{
    height: 150px;
    resize: none;
    padding-top:15px ;
}
.contact-section .submit-btn{
    flex: 0 0 100%;
    width: 100%;
    text-align: right;
    padding: 0 15px;
}

